.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 4px;
  padding: 3%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(76, 127, 194);
  /* padding: 10px; */
  display: inline-block;
  border: none;
  width: 20%;
}